*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
/* Header Trang chủ */
.header{
    background: rgb(43, 43, 43);
    margin: 0 auto;
    padding: 5px 0 20px 0;
}
.container1{
    width: 1000px;
    background: rgb(43, 43, 43);
    margin: 0 auto;
    padding-top: 30px;
}
.container1 img{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin: 5px;
}
.menu1{
    /* background-color: rgb(255, 222, 206); */
    background: rgb(43, 43, 43);
    width: 44%;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.menu1 li{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.menu1 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* background: blueviolet; */
}
.menu2{
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    /* background: seagreen; */
    background: rgb(43, 43, 43);
}
.login{
    /* background: rgb(7, 7, 121); */
    color: white;
    text-decoration: none;
    width: 40%;
    font-size: 18px;
    padding: 15px 30px 15px 0px;
    display: inline-block;
    vertical-align: middle;
}
.stroke{
    width: 5px;
    height: 25px;
    background: white;
    display: inline-block;
    vertical-align: middle;
}
.signup{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 50px 15px 0;
    margin: 10px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
.clear{
    clear: both;
}
.container2{
    background-image: url(genshin4k/1108905.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1189px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
}
.language{
    width: 1000px;
    margin: 0 auto;
}
.flag{
    text-decoration: none;
    color:black;
    text-align: center;
}
.content{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.content h1{
    color: white;
    margin: 180px 0 0 0;
    font-size: 40px;
}
.content h2{
    margin: 10px 0 200px 0;
    font-size: 50px;
}
/* Trang chủ Download */
.wrapped{
    background: #937ee1;
    /* background: rgb(43, 43, 43); */
    margin: 0 auto;
}
.container3{
    width: 1000px;
    background: #937ee1;
    /* background: rgb(43, 43, 43); */
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container3 img{
    margin: 0 10px;
}
.logo{
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    width: 150px;
}
.logosocial{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.logosocial a{
    text-decoration: none;
}
.logosocial img{
    width: 59px;
}
.container4{
    background-image: url(genshin4k/1129503.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1070px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
}
.video{
    /* background: springgreen; */
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 460px;
    margin-bottom: 200px;
}
.buttonplay{
    margin: 0 auto;
    /* border-style: solid;
    border-color: rgb(255, 38, 0); */
    width: 120px;
}
.stroke1{
    background: #8d71ad;
    width: 500px;
    height: 3px;
    margin: 0 auto;
}
.video h1{
    background: rgba(158, 50, 31, 0.424);
    border-radius: 30px;
    color: white;
    margin: 20px;
    font-size: 30px;
}
.download{
    width: 1000px;
    margin: 0 auto;
    align-items: center;
}
.download a{
    text-decoration: none;
}
.download img{
    width: 240px;
    align-items: center;
}
/* Banner tin tức */
.wrapped1{
    background: #ccc1d9;
    margin: 0 auto;
    padding: 10px;
}
.container5{
    width: 1000px;
    margin: 0 auto;
    background-color: #ccc1d9;
}
.imgnews{
    background-image: url(genshin4k/1099191.jpg);
    height: 300px;
    background-size: cover;
}
.news{
    background-color: #ccc1d9;
    color: #8d71ad ;
    font-size: 30px;
    margin: 20px 0;
    padding: 5px;
    width: 200px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.news1{
    background-color: #8d71ad;
    color: wheat ;
    font-size: 30px;
    margin: 20px 0 0 0;
    padding: 5px;
    width: 100px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}
.hotnews{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    height: 300px;
    background:wheat;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px 0;
    margin-right: 8px;
}
.hotnews h2{
    padding: 5px;
    color: #8d71ad;
}
.hotnews p{
    padding: 0 5px;
}
.aligindetails{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.details{
    /* background: khaki; */
    width: 18%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.details a{
    text-decoration: none;
    color: #8d71ad;
}
.hotnews1{
    background: wheat ;
    border-radius: 20px;
    width: 25%;
    height: 300px;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 8px;
}
.hotnews1 img{
    height: 160px;
}
.hotnews1 h2{
    font-size: 20px;
    padding: 5px;
    color: #8d71ad;
}
.hotnews1 p{
    padding: 0 5px;
}
.aligindetails1{
    margin-top: 10px;
    width: 65%;
    display: inline-block;
    vertical-align: middle;
}
.details1{
    /* background: khaki; */
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.details1 a{
    text-decoration: none;
    color: #8d71ad;
}
.menunews{
    background: wheat;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    color: #8d71ad;
}
.menunews a{
    text-decoration: none;
}
.listnews{
    /* background: #8d71ad; */
    width: 19%;
    height: 110px;
    margin: 20px 0;
    display:inline-block;
    vertical-align: middle;
}
.listnews img{
    height: 110px;
    border-radius: 20px;
}
.contentnews{
    width: 70%;
    height: 110px;
    margin-left: 25px;
    /* background: #8d71ad; */
    display:inline-block;
    vertical-align: middle;
}
.contentnews h1{
    font-size: 20px;
    color: #8d71ad;
}
.pagenews {
    margin: 0 auto;
    text-align: center;
}
.pagenews a{
    font-size: 20px;
    text-decoration: none;
}
.stroke2{
    background: #8d71ad ;
    width: 2px;
    height: 20px;
    display:inline-block;
    vertical-align: middle;
}
.pagenews li{
    display:inline-block;
    vertical-align: middle;
}
/* Nhân vật */
.imgbackground{
    background-image: url(genshin4k/1167970.jpg);
    background-size: cover;
    height: 1070px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
}
.container6{
    width: 1000px;
    margin: 0 auto;
    /* background: rosybrown; */
}
.tittlechar{
    background-color: #ccc1d9;
    color: #8d71ad ;
    font-size: 30px;
    margin: 20px 0 5px 0;
    padding: 5px;
    width: 150px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.inazuma{
    background-color: #8d71ad;
    color: wheat ;
    font-size: 20px;
    margin: 10px 0 0 0;
    padding: 5px;
    width: 150px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}
.contentchar1{
    margin: 0 40px;
    width: 40%;
}
.char h1{
    color: #8d71ad ;
    font-size: 28px;
    margin: 10px 0 0 0;
}
.char img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.char a{
    text-decoration: none;
}
.char p{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
.imgkokomi{
    float: left;
    /* display: inline-block;
    vertical-align: middle; */
}
.voiceline{
    background:#27256171;
    height: 150px;
    margin: 500px 0 0 0;
    font-size: 12px;
    padding: 40px;
    color: white;
    text-align: left;
}
.contentchar2{
    /* background:#27256171; */
    height: 200px;
    font-size: 15px;
    padding: 40px 0px 40px 0;
    color: #272561 ;
    margin: 0 200px;
    /* text-align: right; */
}
.otherchar{
    background: #8d71ada2;
    border-radius: 20px;
    height: 135px;
    width: 10.7%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.otherchar h1{
    font-size: 12px;
    text-align: center;
    color: #ccc1d9;
}
.container6 a{
    text-decoration: none;
}
.buttonRL{
    /* background: yellow; */
    height: 135px;
    width: 10.7%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
/* Tư liệu */

/* Footer */
.footer{
    background: rgb(43, 43, 43);
    margin: 0 auto;
}
.contactus{
    margin: 0 auto;
    text-align: center;
}
.contactus h1{
    color: white;
}
.email{
    /* background: chocolate; */
    color: white;
    width: 33%;
    height: 150px;
    display:inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 20px 0;
}
.email b{
    font-size: 20px;
}
.stroke3{
    width: 2px;
    height: 20px;
    background: white;
    display: inline-block;
    vertical-align: middle;
}
.listfooter li{
    display: inline-block;
    vertical-align: middle;
}
.listfooter a{
    text-decoration: none;
    color: white;
}

.logo1{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}
.logo1 img{
    width: 135px;
}
.coppyrighter{
    /* background: turquoise; */
    width: 40%;
    display:inline-block;
    vertical-align: middle;
    margin: 50px 0;
}
.coppyrighter p{
    color: white;
}
.paimonfooter{
    width: 26%;
    /* background: white; */
    display: inline-block;
    vertical-align: middle;
}
.paimonfooter img{
    width: 150px;
}